@(username: String, selected: String, ids: Array[Int], links: Array[String])

@main("Select Sector") {

     <div style="text-align:left;"><a href="/dash">Home </a> &rArr; <a href="/dash/sector">Select Sector </a> &rArr; <a href="/dash/sector/industry?sector=@selected">Select Industry</a><span style="float:right;"><a href="/logout">logout</a></span></div><hr>
     <p>@username, Select an Industry from Sector @selected</p>
     
     
     
     <ul>
		@defining(ids.zip(links)) { temp =>
			@for(list <- temp) {
				<li> <a href="/dash/sector/industry/companies?sector=@selected&indID=@list._1"> @list._2 </a> </li>
			}
		}
     </ul>

}